<div class='card'>


  <div class='profile-thumbnail3'></div>
  <div class='about'>
    <p class='title'><i class="fa fa-bookmark-o"></i> About Us:</p>
    <p class='content'><font size="2">Dave Roberson is Founder and Senior Pastor of The EmPowerment Center, a multi- cultured Church in Katy, Texas USA. Ordained in 1975, he has been in ministry for nearly 40 years and planted 3 churches, both in Houston and Katy. Dave is a man who loves people, and driven to impact their lives with the simplicity of the Gospel.

He has provided Apostolic insight to several churches in Nigeria, South Africa and soon the Republic of the Congo. He has ministered in over 9 different countries empowering people to live successful God centered lives.

He’s the Founder of Jonathan Fellowship International Network (JFIN) a global fellowship of Pastor’s, Leaders, and Business people designed to equip, “Equippers!”

He is also a businessman and owner of an international Corporation. He utilizes his call as Pastor and Entrepreneur to reach beyond the borders of our nation to affect change in the global society.
</font></p>
  </div>
  </div>
<br />

<div class='card'>


  <div class='profile-thumbnail3'></div>
  <div class='about'>
    <p class='title'><i class="fa fa-bookmark-o"></i> About Us:</p>
    <p class='content'>Wanda Roberson has been serving with her husband Apostle David Roberson for over twenty one years in Ministry.
      She was ordained to the Office of Prophet in 1995; her message is one of hope, encouragement, inspiration, and deliverance.
      She is Founder and President of Wanda Roberson Ministries (WRM) which is a multi-faceted international ministry designed to teach, train, and develop people for the end time harvest. 
      She has established a School of the Prophets and hosts an annual Prophet Conference in South Africa.</p>
  </div>
  </div>
  <br />

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class='card'>


  <div class='profile-thumbnail'></div>
  <div class='about'>
    <p class='title'><i class="fa fa-bookmark-o"></i> About Us:</p>
    <p class='content'><font size="2">Warren Winston has been with The EmPowerment Center since 2007.  Formerly serving as Administrator and now as a Care Pastor, this Texas transplant from New York City holds a Bachelor of Arts degree from Hampton University in Hampton, Virginia.  Ordained in 2012, he has served in various capacities of ministry since the age of 10 years old.
A loving husband to his wife Renee and father to Troy and Ryan, Warren is also a Business Advisor in the marketplace, whose mission is to “inspire, instruct, invest and impact” those whom he comes into contact with daily.
In addition to his work in the corporate world, he is also an independent Certified Leadership Coach, Teacher and Speaker with the John Maxwell Team, and a Certified Business Advisor with Crown Business, which teaches and ministers to business leaders globally.</font></p>
  </div>
  </div>
<br />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
  <div class='card'>


    <div class='profile-thumbnail1'></div>
    <div class='about'>
      <p class='title'><i class="fa fa-bookmark-o"></i> About Us:</p>
      <p class='content'><font size="2">Care Pastors Mekele & Tisheka Brown are New Orleans, LA natives; and both have served in the United States Armed Forces.
         Pastor Mekele has a Bachelors of Arts in Psychology with a minor in Education and a Masters of Divinity.
         Pastor Tisheka has a Bachelors of Science in Business Administration and Master of Arts in Organizational Management. 
          Pastors Mekele & Tisheka are ordained minsters of the gospel and have been walking together in ministry for 15 years.
         They share their love with two beautiful daughters Tiyena-Rachea and Makala Brown.​​
         Favorite Scripture:  1 Timothy 4:10, “For therefore we both labour and suffer reproach, because we trust in the living God, who is the Saviour of all men, specially of those that believe.</font></p>
    </div>
    </div>
    <br />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <div class='card'>


      <div class='profile-thumbnail2'></div>
      <div class='about'>
        <p class='title'><i class="fa fa-bookmark-o"></i> About Us:</p>
        <p class='content'>Wanda Roberson has been serving with her husband Apostle David Roberson for over twenty one years in Ministry.
          She was ordained to the Office of Prophet in 1995; her message is one of hope, encouragement, inspiration, and deliverance.
          She is Founder and President of Wanda Roberson Ministries (WRM) which is a multi-faceted international ministry designed to teach, train, and develop people for the end time harvest.
          She has established a School of the Prophets and hosts an annual Prophet Conference in South Africa.</p>
      </div>
      </div>
<br />
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class='card'>


  <div class='profile-thumbnail3'></div>
  <div class='about'>
    <p class='title'><i class="fa fa-bookmark-o"></i> About Us:</p>
    <p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Quisque blandit aliquet velit, id cursus ligula feugiat a. Suspendisse erat nulla,
      aliquam in blandit vel, tincidunt ut elit. Vestibulum in imperdiet tortor, non blandit nunc.
      Maecenas vel massa mauris. Fusce libero enim, posuere non aliquet at, dapibus sed tellus.
      Curabitur consequat ante ut adipiscing fringilla. Nulla eget accumsan enim, et dictum mi.
      Integer gravida elementum risus id porta. Praesent pellentesque mauris orci, vel facilisis lorem tincidunt id.
      Pellentesque eu ultrices sapien, a lobortis nisi.</p>
  </div>
  </div> -->
