<div class="jumbotron" align="center">
  <h1>TEC Ministries</h1>
<br />

  <h3>K.A.L.L. (Kids Are Little Leaders)</h3>
<p>Today, with so many worldly distractions and influences threatening to distinguish the fire inside, it is of utmost importance for our children and youth to receive ministry tailor-made for their generation.
  There is a new breed of LEADERS emerging and we want to develop them early. K.A.L.L. is ministry to Kids (ages 2-8) that speaks their language.
</p>

<h3>R-12 Transformers Youth Ministry</h3>
<p>On average, many churches lose a large percentage of their youth during the "teen" years...and unfortunately, many youth and teens hardly ever return.  Seasoned members are capable of being active in ministry.
  As a result, youth and teens are least likely to be recognized or invited to participate in ministry.  However, here at TEC, we take every opportunity to invite and assist our youth members (ages 9-18) to use their spiritual gifts and get connected with ministry.
  This group provides practical application of God's word concerning the problems our youth face daily, working to reinforce family values. Moreover, it is an opportunity for the youth to "chill" in extra curricular activities as well as informal Group Sessions involving themselves, their peers,
  and the Youth Director.
</p>

<h3>"Sister, Friend" Women's Ministry</h3>
<p>Ministry designed to impart, impact and bond Women of all Cultures. Women, 19 years and up, are challenged to Learn, Grow, and Walk in their God given Destiny and reach others for the Lord Jesus Christ.  We seek to:
  Evangelize women and help them develop a personal relationship with God by becoming responsible Christians.
  Equip women to reach out and meet the unique needs of other women. Enable women to discover, develop and use their spiritual gifts, talents and abilities.
  Enrich women through Bible studies, retreats, seminars, conferences, and just "plain fellowship."
  Encourage women to become godly role models, establish a devoted prayer life and become a woman who study and live the Word of God.
</p>

<h3>Dance</h3>
<p>Whether it's Mime, Hip-hop, Lyrical or Praise dancing, it's going on right here.  The incorporation of the Arts at TEC thrills those who behold them, embellishes the thrust of ministry and most of all, ministers to the Lord.
</p>

<h3>Care Ministry</h3>
<p>We minister to the members who have fallen ill, the bereaved, hospitalized, etc., or for whatever reason they’ve been absent from the services.  We seek to keep them connected to the local church and/or minister to them in time of need. Showing how much we care enhances  our message!
</p>

<h3>Keenagers(Seniors) Ministry</h3>
<p>We believe at TEC that your usefulness doesn't end after fifty years of age. NO, it's just beginning, we have a vibrant group of Keenagers that meet the second Tuesday of every month for Prayer and Bible Study.  They are involved in many activities i.e. mentorship, nursing home, and with Women's Aglow Ministry, etc.
</p>

<h3>GOLF (Gathering of Loyal Fellows)</h3>
<p>A gathering of Men, for men ages 19 and up, which covers a wide range of topics.   Men of God gather quarterly to fellowship, encourage and empower one another in faith through the development of integrity, honor, and Godly character.
</p>

<h3>Music Ministry</h3>
<p>This area of ministry is charged with uplifting music and Powerful Praise and Worship that set the atmosphere for the anointing of God to flow in every service.
</p>

<h3>Singles Ministry</h3>
<p>A ministry designed for those who are unmarried to assist them in living a successful single life.  Singles are taught to develop and enrich the quality of their lifestyle through Godly principals.  It provides empowerment, fellowship, and supports for single adults.
</p>

<h3>Marriage Ministry</h3>
<p>We empower married couples to understand, develop and sustain their relationships based on the word of God. With practical application and fun filled events.
</p>

<h3>Community Outreach</h3>
<p>Through this outreach we serve in various capacities in our local community.  We service several Senior Citizens Centers on a monthly basis.  Some of our various outreaches have included: distributing school supplies to over 200 students, plus our annual Toy drive which provided over 300 toys to the community at large as well as other agencies i.e. Toy for Tots and Houston Area Women's Center.
</p>
