<div class="container">

  <center>
  <h1><font color="#010500">Resources</font></h1>
  <p> To order please call 1 (281) 578-3535 </p>
  </center>

  <br />



  <div class="jumbotron">

    <table id="cart" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>CD Series</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">


              <div class="col-sm-10">
                <h4 class="nomargin">Unclutter the Clutter</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$21.00</td>




        </tr>
      </tbody>


  <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">Effacious Prayers</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$21.00</td>




        </tr>
      </tbody>


      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">Faith or Fate Volume 1</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$28.00</td>




        </tr>
      </tbody>

      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">What time is it?</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$28.00</td>




          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">Praying from Heavens Perspective Vol. 1</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$49.00</td>




          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">Praying from Heavens Perspective Vol. 2</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$42.00</td>




          </td>
        </tr>
      </tbody>


      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">Resting or Stressing</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$49.00</td>




          </td>
        </tr>
      </tbody>


      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">Help I'm Boared!</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$28.00 </td>




        </tr>
      </tbody>


      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">The Inseperables: Vowing & Paying</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$28.00 </td>




        </tr>
      </tbody>

      <thead>
        <tr>
          <th>Single CD's </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">Developing an Ear to Hear God</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">$28.00 </td>




        </tr>
      </tbody>


      <tbody>


        <tr>
          <td data-th="Product">
            <div class="row">

              <div class="col-sm-10">
                <h4 class="nomargin">Personal Relationships CD</h4>
                <p></p>
              </div>
            </div>
          </td>
          <td data-th="Price">TBA </td>




          </tr>
      </tbody>



    <tfoot>
        <tr class="visible-xs">
          <td class="text-center"><strong>Total</strong></td>
        </tr>

      </tfoot>






    </table>


  </div>

</div>
