<div class="jumbotron" align="center">
  <h1>TEC Ministries</h1>
<br />

  <h3>Facebook</h3>
<p>Click here for our facebook! <a class="btn btn-social-icon btn-facebook">
    <i class="fa fa-facebook"></i>
  </a>
</p>

<h3>Youtube</h3>
<p>Click here for our youtube!
</p>
