<div class="container">
  <div id="blog" class="row">

    <div><h2 class="add">Place for your add!</h2></div>
  </div>
  <div class="col-md-10 blogShort">
    <h1>Title 1</h1>
    <img src="http://www.kaczmarek-photo.com/wp-content/uploads/2012/06/guinnes-150x150.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">

    <em>This snippet use <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Sexy Sidebar Navigation</a></em>
    <article><p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
      of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
    </p></article>
    <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
  </div>
  <div class="col-md-10 blogShort">
    <h1>Title 2</h1>
    <img src="http://www.kaczmarek-photo.com/wp-content/uploads/2012/06/DSC_4073-150x150.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
    <article><p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
      of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
    </p></article>
    <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
  </div>

  <div class="col-md-10 blogShort">
    <h2>Land On Mars?</h2>
    <img src="http://www.kaczmarek-photo.com/wp-content/uploads/2012/06/DSC_1681-150x150.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
    <article><p>
      On Friday December 5th, 2014 NASA launched its robotic test flight Orion for a four hour flight around the Earth. The flight was a big leap for
      mankind as it means we can again put man mars. But what does it mean? It means that we can find a little bit more about the red planet and
      how it is like there. But first in the year 2020 we will attempt to land a asteroid and check some samples there while humans will on the
      comment for about a year. After the year is over we will take the greatest leap ever, landing on Mars. A dream so big after landing on the
       moon in 1969.  To make it to Mars NASA has constructed the SLS. SLS stands for Space Launch System which will be the biggest rocket ever made.
       It will make the flight faster and more efficient. The engineers at NASA has also constructed new and improved parachutes which can surpass 20,000
       mph and could in just 11 minutes make it slow down to only 11mph. They also developed a new heat shield which can withstand more than 4,000 F which
       is twice as burning steel. The new capsule to take astronauts to mars is a big component of the overall mission. It is required to protect them from
       radiation passing through Van Allen radiation belt. Once passing this belt it will be a smooth flight to a asteroid. Once at the asteroid we will take
        off yet to the red planet. At the red planet we will collect some samples and experience the gravity and properties of the new planet. Food will be
        sent every so often so it isn’t a big issue. So what do you think can we successfully land a human on Mars?
    </p></article>
    <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
  </div>

  <div class="col-md-12 gap10"></div>
</div>
</div>
