<h1 align="center"><font color="#A30000">Upcoming Events</font></h1>
<br />


<div class="container">
  <div class="row">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
      <ul class="event-list">
        <li>
          <time datetime="2014-07-20">
            <span class="day"><font size="5">Sunday</font></span>
            <span class="month"></span>
            <span class="year"></span>
            <span class="time">9:00 AM</span>
          </time>

          <div class="info">
            <h2 class="title">Service Times</h2>
            <p class="desc">Come to service time for mass</p>
          </div>

        </li>

        <li>
          <time datetime="2014-07-20 0000">
            <span class="day"><font size="5">Monday</font></span>
            <span class="month"></span>
            <span class="year"></span>
            <span class="time">7:00 PM</span>
          </time>
          <div class="info">
            <h2 class="title">Prayer Gatherings</h2>
            <p class="desc">Come and gather with our fellow brothers and sisters.</p>

          </div>

        </li>

        <li>
          <time datetime="2014-07-20 2000">
            <span class="day"><font size="3">Wednesday</font></span>
            <span class="month"></span>
            <span class="year"></span>
            <span class="time">7:00 PM</span>
          </time>

          <div class="info">
            <h2 class="title">Group Bible Study</h2>
            <p class="desc">Come and have a talk with our lord.</p>

          </div>

        </li>


      </ul>
    </div>
  </div>
