---
title: Welcome to BeemPowered
---


<div class="jumbotron churchbg textwhite" align="center">
  <h1><font size="8">Welcome to The Empowerment Center </font></h1>
  <br />
  <p><font face="Fantasy">“Empowering people to live successful God-centered lives.”</font></p>
  <p><font size="3">We are The EmPowerment Center nestled in the former rice fields of Katy, Texas USA.
    As a vibrant, relevant and growing church we remain focused on the purpose of our existence, you!
    We believe, practice and advocate that relationship with God and one another far exceeds the bounds of religion.
    Therefore, as a community of believers, we gather to fellowship, impact and empower while we're being empowered.
    So, whatever your position is in life right now, don't allow it to determine who you are or what you are becoming.
    Come join us as we discover and embark upon God's predesigned plan for our lives.</font></p>

</div>
<br />
<div class="container">
    <div class="row">
    <div class="col-md-12">
                <div id="Carousel" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>

                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                <div class="item active">
                  <div class="row">
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="/images/test1.png" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="/images/test2.png" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="/images/test3.png" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="/images/test4.png" alt="Image" style="max-width:100%;"></a></div>
                  </div><!--.row-->
                </div><!--.item-->

                <div class="item">
                  <div class="row">
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="/images/test5.png" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="/images/test6.png" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="/images/test7.png" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="/images/test8.png" alt="Image" style="max-width:100%;"></a></div>
                  </div><!--.row-->
                </div><!--.item-->




                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->

    </div>
  </div>
</div><!--.container-->

















<!-- Remastered By BEMonsterz & EA_Roa -->
